.backimage-body::before {
  background: inherit;
  content: '';
  filter: blur(5px);
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

.backimage-body {
  margin-top: 10px;
  padding-top: 100px;
  height: 900px;
  background-image: image-url("calendar.jpg");
  background-size: cover;
  position: relative;
  .form-body {
    position:relative;
    z-index:1;
    .field-contener{
      border: 1px solid #ccc;
      width: 1100px;
      margin: 0 auto;
      border-radius: 10px;
      background-color: white;
      .registration {
        text-align: center;
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
      }
      .registration-form {
        padding: 60px 40px 60px;
        margin-bottom: 80px;
        display: flex;
        .title-box {
          .title-bar {
            width: 200px;
            height: 40px;
          }
          .title-exposition {
            margin: 20px 0 70px 20px;
          }
          .clender {
            margin-left: 80px;
            color: blue;
          }
          .plus {
            margin: 0 30px;
          }
          .report {
            color: red;
          }
        }
        .form-box {
          margin: 0 auto;
          max-width: 300px;
          .form-group {
            margin-bottom: 25px;
          }
          label {
            font-weight: bold;
            text-align: left;
          }
          .text-field {
            margin-top: 5px;
            width: 100%;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .actions{
            height: 40px;
            .next-btn {
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              cursor: pointer;
              text-align: center;
              background-color: red;
              color: #fff;
              border: 1px solid #ccc;
            }
          }
          .new-user-actions{
            text-align: center;
            margin-top: 40px;
            height: 60px;
            font-size: 14px;
            .new-user-btn {
              text-decoration: none;
              height: 50px;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              cursor: pointer;
              text-align: center;
              background-color: #0099e8;
              color: #fff;
              border: 1px solid #ccc;
            }
          }
        }
      }
    }
  }
}