.left-btn:hover {
  background: #fffbef;
}

.right-btn:hover {
  background: #fffbef;
}

.report-post:hover {
  background: #fffbef;
}

.report-mgmt:hover {
  background: #fffbef;
}

@import url(http://fonts.googleapis.com/css?family=Unica+One);

.title-bar {
  width: 200px;
  height: 40px;
}

body {
  padding-top: 60px;
  background-color: #EEEEEE;
}

/* ヘッダー */
.header-fixed {
  z-index: 10;
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 8px gray;
  .header-box {
    padding: 10px 20px;
    display: flex;
    .user-name {
      margin: 5px 20px 0 auto;
      color: black;
    }
    .left-btn {
      margin-right: 20px;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
    }
    .right-btn {
      margin-right: 20px;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
    }
    .report-post {
      margin-right: 20px;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
    }
    .report-mgmt {
      position: relative;
      margin-right: 20px;
      padding: 0.3em 1em;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
      a {
        color: #67c5ff;
        text-decoration: none;
      }
      .unread-alert {
        position: absolute;
        color: white;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #67c5ff;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: flex;
        top: -10px;
        right: -10px;
      }
    }
  }
}