.backimage-body-report {
  margin-top: 10px;
  padding-top: 10px;
  height: 1080px;
  background-image: image-url("calendar.jpg");
  background-size: cover;
  position: relative;
  .report-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    label {
      margin-top: 5px;
      font-weight: bold;
      text-align: left;
    }
    //自分の日報
    .myreport-content {
      padding-top: 20px;
      width: 40%;
      height: 100vh;
      margin-right: 80px;
      .report-box {
        margin-top: 30px;
        width: 100%;
        height: 100px;
        .report-group {
          margin: 30px auto;
          width: 90%;
          height: 100%;
          background-color: white;
          border-radius: 10px;
          .report-link-btn {
            text-decoration: none;
            color: black;
            .report-time {
              font-size: 20px;
            }
            .report-title {
              font-size: 20px;
            }
            .report-startmessage {
              font-size: 20px;
            }
          }
        }
      }
      .pagenate-box {
        float: right;
        margin-bottom: 30px;
        text-decoration: none;
      }
    }
    //送信されてきた日報
    .reply-content {
      padding-top: 20px;
      width: 40%;
      height: 100vh;
      .report-box {
        margin-top: 30px;
        width: 100%;
        height: 100px;
        .report-group {
          margin: 30px auto;
          width: 90%;
          height: 100%;
          background-color: white;
          border-radius: 10px;
          .report-link-btn {
            text-decoration: none;
            color: black;
            .report-time {
              font-size: 20px;
            }
            .report-title {
              font-size: 20px;
            }
            .report-startmessage {
              font-size: 20px;
            }
          }
        }
      }
      .pagenate-box {
        float: right;
        margin-bottom: 30px;
        .pagination {
          text-decoration: none;
          color: #818181;
        }
        .pagination:hover {
          color: #1B1B1B;
          cursor: pointer;
          text-decoration: none;
          background-color: none;
        }
      }
    }
  }
}

.backimage-body-report-show::before {
  background: inherit;
  content: '';
  filter: blur(5px);
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

.backimage-body-report-show {
  margin-top: 10px;
  padding-top: 10px;
  height: 1030px;
  background-image: image-url("calendar.jpg");
  background-size: cover;
  position: relative;
  .myreport-content {
    position: relative;
    z-index: 1;
    .myreport-box  {
      width: 60%;
      margin: 0 auto;
      border-radius: 10px;
      background-color: white;
      .title-box {
        border-bottom: solid 1px #333;
      }
      .from-box {
        border-bottom: solid 1px #333;
      }
      .address-box {
        border-bottom: solid 1px #333;
      }
      .text-box {
        height: 500px;
        overflow:auto;
        border-bottom: solid 1px #333;
      }
    }
    .message-content {
      font-size: 30px;
      width: 60%;
      height: 350px;
      margin: 10px auto 10px;
      overflow: scroll;
      border-radius: 10px;
      background-color: white;
      .message-box {
        width: 100%;
        height: 50px;
        .upper-message {
          display: flex;
          .user-name {
            font-size: 16px;
          }
          .date-time {
            margin-left: 5px;
            font-size: 12px;
            color: #999999;
          }
        }
        .lower-message {
          .message-text {
            font-size: 14px;
          }
        }
      }
    }
    .message-form {
      font-size: 25px;
      width: 60%;
      margin: 0 auto 30px;
      .input-box {
        width: 100%;
        .text {
          color: #434a54;
          border-style: none;
          height: 50px;
          padding: 0px 40px 0px 10px;
          width: 89%;
        }
        .send-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 10px;
          color: white;
          background-color: #38aef0;
        }
      }
    }
  }
}